<!DOCTYPE html>
<!-- 
Salt Lamp Horse
Natalie Keiger, Evan Khosh, Carrie Ko
SoftDev
K17: Take and Give
October 2025
time taken: 30m
 -->


<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
      Salt Lamp Horse
    </h1>
    <h2>
        Carrie Ko, Evan Khosh, Natalie Keiger
    </h2>


    <h3>
      Enter your username below to proceed.
    </h3>
    <form action="/auth">
      <input type="text" name="username">
      <input type="submit" name="sub1">
    </form>
    <br>
  </body>

</html>
