<!DOCTYPE html>
<!-- 
Salt Lamp Horse
Natalie Keiger, Evan Khosh, Carrie Ko
SoftDev
K17: Take and Give
October 2025
time taken: 30m
 -->
<html>

  <head>
    <title> RESPONSE PAGE </title>
  </head>

  <body>
    <h1>
      Salt Lamp Horse
    </h1>
    <h2>
        Carrie Ko, Evan Khosh, Natalie Keiger
    </h2>
    <p> 
    Hello {{user}}! 
    <br> 
    Method used: {{request}} 
    <br>
    GET requests data from something and allows you to view it in the URL. 
    POST send data to the HTTP request to be stored there, that way you can view it when you print the request and not in the URL. 
    GET is easier to work with when debugging but less private since it posts the info in the URL. 
    </p>
  </body>

</html>
